* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    
}

body {
    background-color: #F6F8F9;
}

header {
    background-color: white;
}

.logo {
    padding: 20px;
    
}

.logo img {
   height: 70px; 
   vertical-align: middle;
   
   
}

.title {
    font-size: 50px;
    margin-left: 10px;
    line-height: 70px;
    vertical-align: middle;
}

main {
    width: 1500px;
    margin: auto;
}
#site_nav {
    
    margin-top: 50px;
    padding: 10px;
    background-color: white;
}

.button{
    border-radius: 5px;
    width: fit-content;
    margin-left: 40px;
    

   
}

.button div {
    display: inline-block;
}
#task {
    text-align: center;
    color: white;
    background-color: #14AAF5;
    padding: 6px;
    border-radius: 5px
    
}

#section {
    text-align: center;
    color: lightgray;
    padding: 6px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 2px;
}

.section_container {
    /* margin-top: 2px; */
    margin-top: 2px;
    padding-bottom: 30px;
    width: 1500px;
    background-color: white;
}

.text{
    margin-left: 40px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.subtitles {
    margin-left: 40px;
    margin-top: 5px;
    padding: 5px;

}

.checkmark {
    color: #42CCB4;
    
}

.cross {
    color: #FF1B1B;
}

.color-text-blue {
    font-size: 10px;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    color: white;
    background-color: #14AAF5;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

.color-text-purple {
    font-size: 10px;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    color: white;
    background-color: #AB5DE6;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.color-text-green {
    font-size: 10px;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    color: white;
    background-color: #2CC6AB;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.color-text-orange {
    font-size: 10px;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    color: white;
    background-color: #FF1B1B;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.color-text-pink {
    font-size: 10px;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    color: white;
    background-color: #FF1B1B;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}
    
    
/*
mark green: #42CCB4
mark red: #FF1B1B
Background: #F6F8F9
Blue: #14AAF5
Purple: #AB5DE6
green: #2CC6AB
orange: #FF1B1B
pink: #FF1B1B

 */





